// * ********************************************************************************************************* *
// *
// * Copyright (c) 2016 Freescale Semiconductor, Inc.
// * Copyright (c) 2017-2018 NXP
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@import "sourceFilesMap";

$windowWidth: 1250;
$windowHeight: 700;

[guiType="PageContent"] {
  // sass-lint:disable-block no-important
  padding: 0 !important;
  width: #{$windowWidth}px;

  > .Spinner {
    padding: 0;
    position: relative;
    top: 320px;
    width: 60px;

    .Icon {
      background: $IO_VISIONSDK_USERCONTROLS_SPINNER_WHITE_BIG no-repeat;
      height: 60px;
      width: 60px;
    }
  }
}

body {
  > .WUIJRE {
    background-color: $IO_VISIONSDK_WHITE;
    border: 1px solid $IO_VISIONSDK_GRAY;
    height: #{$windowHeight - 2}px;
    left: 0;
    top: 0;
    width: #{$windowWidth - 2}px;

    .CacheLoaderProgressBar {
      background-color: $IO_VISIONSDK_GREEN;
      left: 1px;
      top: 24px;
    }
  }

  > .FOCUS {
    border: 1px solid $IO_VISIONSDK_GREEN;
    box-shadow: none;

    .#{$ComWuiFrameworkServicesNamespace}BasePageController,
    .#{$IoGpuSdkInstallerServicesNamespace}BasePageController {
      .AppDragBar .DragBar {
        background: $IO_GPUSDK_INSTALLER_GUI_WINDOW_HEADER_ACTIVE repeat-x;
      }
    }
  }
}

.#{$ComWuiFrameworkServicesNamespace}BasePageController,
.#{$IoGpuSdkInstallerServicesNamespace}BasePageController {
  .AppDragBar {
    height: 24px;

    .DragBar {
      background: $IO_GPUSDK_INSTALLER_GUI_WINDOW_HEADER_OFF repeat-x;
      height: 24px;
      width: #{$windowWidth - 2}px;
    }
  }

  .AppButtons {
    left: -45px;
    top: 3px;
    width: 46px;

    .AppMinimize,
    .AppMaximize {
      margin-right: 5px;
    }
  }

  .AppContentLoader {
    .Label .Text {
      font-family: "LatoThin", sans-serif;
      font-size: 35px;
      padding-left: 25px;
      top: 7px;
    }
  }
}

.#{$IoVisionSDKUserControlsBaseInterfaceUserControls} {
  .InstallationItem {
    .InfoEnvelop {
      .Label {
        margin: 0 55px 0 0;
      }
    }
  }
}
